.fileuploadpreview::after {
  content: '';
  display: none;
  width: 10em;
  background-size: contain;
  height: 6em;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 2;
}

.fileuploadpreview:hover::after {
  display: block;
}
